<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/shared.css" />
    <link rel="stylesheet" href="../public/css/responsivesness.css" />
    <title>Homely&ndash;explore</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="../public/images/logo.png" alt="" />
        </div>
        <nav class="header-nav">
          <a href="../index.html">home</a>
          <a href="about.html">about</a>
          <a href="explore.html">explore</a>
          <a href="contact.html">contact</a>
          <a href="sign-in.html" class="btn">sign in</a>
        </nav>

        <div id="dropdown">
          <button id="dropdown-btn">
            <img
              src="../public/images/icon-hamburger.svg"
              id="open-dropdown"
              class="visible"
            />
            <img
              src="../public/images/icon-close.svg"
              alt=""
              id="close-dropdown"
            />
          </button>
        </div>
      </div>
      </div>
    </header>
    <main s>
      <div class="background" id="about">
        <div class="backdrop">
          <div class="dropdown-menu">
            <nav class="header-nav">
              <a href="../index.html">home</a>
              <a href="../views/about.html">about</a>
              <a href="../views/explore.html">explore</a>
              <a href="../views/contact.html">contact</a>
              <a href="../views/sign-in.html" class="btn">sign in</a>
            </nav>
          </div>
        </div>
      </div>

      <div class="container" id="select">
        <select name="">
          <option value="">Sort by</option>
          <option value="">Price</option>
          <option value="">Location</option>
          <option value="">Name</option>
        </select>

        <form action="">
          <div class="search-input-container">
            <img src="../public/images/search.png" alt="" />
            <input
              type="text"
              name="location"
              placeholder="Search by name or location"
              id="search"
            />
          </div>
      </div>

      <section id="explore-section">
        <div class="container explore" id="explore-hostels">
          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>

          <div class="hostel">
            <img
              src="../public/images/hostel.jpg"
              alt="image here"
              id="apartment"
            />
            <div class="hostel-details">
              <div class="hostel-name">
                <h4>Lambo Phase 1</h4>
                <span>150k/year</span>
              </div>
              <span>A room self-contain</span>
              <div class="hostel-location">
                <img src="../public/images/location.svg" alt="" />
                <span>Safari, Malete</span>
              </div>
              <a href="" class="btn">View more</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <div class="footer-logo">
          <h1>logo</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni hic
            repudiandae aspernatur, reiciendis adipisci odit repellat quam
            accusantium non molestiae sed similique ipsum temporibus ipsam.
          </p>
        </div>

        <div class="footer-nav">
          <div class="footer-nav_content">
            <h1>company</h1>
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">explore</a>
          </div>
          <div class="footer-nav_content">
            <h1>help</h1>
            <a href="#">contact</a>
          </div>
          <div class="footer-nav_content">
            <h1>other</h1>
            <a href="#">login</a>
          </div>
        </div>
      </div>

      <div class="container socials-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="socials">
          <span>Follow us: </span>
          <span>
            <img src="../public/images/facebook-icon.png" alt="facebook-icon" />
            <img src="../public/images/twitter-icon.png" alt="facebook-icon" />
            <img
              src="../public/images/instagram-icon.png"
              alt="facebook-icon"
            />
            <img src="../public/images/linkedin-icon.png" alt="facebook-icon" />
          </span>
        </div>
      </div>
    </footer>
    <script src="../public/js/app.js"></script>
  </body>
</html>
